<script defer src="/js/deleteRoute.js"></script>
<script defer src="/js/editRoute.js"></script>
<script defer src="/js/showRoute.js"></script>

{{#if sessionBool}}

<div id="map" style="width: 100%; height: 40%"></div>
<form action="/routes" method="POST">
  <div class="ui equal width center aligned padded grid">
    <div class="content">
      <div class="ui huge header">
        <a href="/routes/show/{{routeByID.id}}"><img class="logo" src="/images/logo.png" />{{routeByID.routeTitle}}</a>
      </div>
      <div class="meta">{{routeByID.datetimeStart}}-{{routeByID.datetimeFinish}}</div>
      <div class="ui header">{{routeByID.description}}</div>
      <div class="hidden-coord" style="visibility: hidden">{{routeByID.coordinates}}</div>
      <div class="ui two buttons">
        <button type="submit" class="ui button delete"><a href="/routes/{{routeByID.id}}">DELETE</a></button>
        <button type="submit" class="ui secondary button change"><a href="/routes/edit/{{routeByID.id}}"
          data-id="{{routeByID.id}}">EDIT</a></button>
      </div>
    </div>
  </div>
</form>
{{/if}}
